.container{
  margin-left: 100px;
  margin-top: 20px;
  .box{
    transition-duration: 2s;
    &:hover{
      cursor: pointer;
      color: red;
    }
    i {
        font-size: 70px;
      }

      p {
        font-size: xx-large;
      }
}
}
@media (max-width: 775px) {
  .container {
    margin: 0 !important;
      margin-top: 20px !important;
    padding-left: 115px;
  }
  .box{
    i {
        font-size: 50px;
      }
    p{
      font-size: large !important;
    }
  }
}
